
@{
    ViewBag.Title = "SentSMS";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Date Wise SMS Sent Report</h3>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["Success"].
            </div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Info! @TempData["Info"].
            </div>
        }
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="rootwizard">
                            <div class="row m-b-lg">
                                <div class="col-md-6">
                                    <form>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label for="ageRangeField">From Date</label>
                                                <input type="text" id="fromDate" class="form-control date-picker" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="ageRangeField">To Date</label>
                                                <input type="text" id="toDate" class="form-control date-picker" />
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <input class="btn btn-primary" type="button" id="show" value="Show">
                                            </div>
                                        </div>
                                    </form>
                                    <hr />
                                </div>
                                <div class="col-md-12">
                                    <div id="SentDetail">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div><!-- Row -->
    </div><!-- Main Wrapper -->

</div>

<script src="../../assets/plugins/jquery/jquery-3.1.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#show").click(function (event) {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            if (toDate != "" && toDate != null && fromDate != "" && fromDate != null) {
                $.ajax({
                    url: "@Url.Action("_Sent", "SMS")",
                    data: { ToDate: toDate, FromDate: fromDate},
                    type: "Get",
                    dataType: "html",
                    success: function (data) {
                        //Whatever result you have got from your controller with html partial view replace with a specific html.
                        // HTML DOM replace
                        $("#SentDetail").html(data);
                    }
                });
            } else {
                alert("please select Date");
            }

        });
    });
</script>

